p {
  color: blue;
  font-weight: 800;
}

a {
  color: black;
}

div {
  background: #999;
  width: 200px;
  height: 100px;
}

div a {
  color: purple;
  font-family: Poppins;
  text-decoration: none;
}
