//Import
@import "colors";
@import "buttons";

//Variaveis
$preto: #999;
$cor-primary: #84E;
$font-primary: monospace;

//Mixin
@mixin title-large {
    font: {
        size: 4em;
        weight: bold;
        family: monospace;
    }
    line-height: 1;
}

//Mixin com argumentos
@mixin separator($color: #84E, $width: 300px) {
    &::after {
        content: '';
        display: block;
        width: $width;
        height: 4px;
        background: $color;
    }
}

//Condicionais
@mixin type-1($size) {
    font-family: monospace;
    @if $size == 16 {
        font-size: 1em;
    }
    @else if $size == 18 {
        font-size: 1.25em;
    }
}

@mixin shadow($type) {
    @if $type == 1 {
        box-shadow: 5px 5px 5px 0  #000;
    }
    @else if $type == 2 {
        box-shadow: 15px 15px 15px 0 #333;
    }
    @else if $type == 3 {
        box-shadow: 25px 25px 25px 0 #666;
    }
}

section {
	max-width: 600px;
    margin: 0 auto;
}

.container {
    h1 {
        color: $cor-primary;
        font-family: $font-primary;
        @include title-large;
        @include separator(pink, 200px);
    }
    p {
        @include type-1(18);
        line-height: 1.4;
        max-width: 400px;
    }
    a {
        display: block;
        max-width: 120px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        background: $cor-primary;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-primary;
    }
}

ul {
    text-align: center;
    li {
        display: inline-block;
        list-style: none;
        a {
            display: block;
            padding: 20px;
            text-decoration: none;
            @include type-1(16);
            &:hover, &.active {
                color: purple;
            }
        }
    }
}
