p {
  color: blue;
  font-weight: 800;
}

a {
  color: black;
}

section {
  max-width: 600px;
  margin: 0 auto;
}

.container h1 {
  color: #84E;
  font-family: monospace;
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
}

.container h1::after {
  content: '';
  display: block;
  width: 200px;
  height: 4px;
  background: pink;
}

.container p {
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.4;
  max-width: 400px;
}

.container a {
  display: block;
  max-width: 120px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background: #84E;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
  list-style: none;
}

ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: monospace;
  font-size: 1em;
}

ul li a:hover, ul li a.active {
  color: purple;
}
